<div id="navArea" class="navbar-area navbar-style-two">
    <div class="mobile-nav">
        <a routerLink="/" class="logo">
            <h3 class="ml-5 text-white m-0 mt-1">Plan Agency Task</h3>
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" routerLink="/">
                    <h3 class="py-2 text-white m-0 mt-2">Plan Agency Task</h3>
                </a>

                <div class="collapse navbar-collapse mean-menu p-0" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a routerLink="/admin/categories" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Categories</a></li>
                        <li class="nav-item"><a routerLink="/admin/products" class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Products</a></li>
                    </ul>

                    <ul class="navbar-nav ml-xl-auto" *ngIf="user && user.token">
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link dropdown-toggle">
                                <img
                                    src="../../../../assets/global/img/user.png"
                                    class="rounded-circle mr-2" height="25" alt="">
                                <span>{{user.userName}} </span>
                                <i class="fa fa-angle-down"></i>
                            </a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a class="nav-link cursor-pointer" (click)="this.onLogout()">
                                        <i class="icon-switch2"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
