/*#region Custom colors*/
.border-left-custom-color {
    border-left-color: #0d3642;
}

.border-right-custom-color {
    border-right-color: #0d3642;
}

/*#endregion*/

/*#region NgSelect2*/
.ng-select.ng-select-single .ng-select-container .ng-clear-wrapper {
    right: -5px;
}

.ng-select.ng-select-single.ng-dirty .ng-select-container .ng-arrow-wrapper,
.ng-select.ng-select-single.ng-dirty .ng-select-container .ng-clear-wrapper {
    right: 15px;
}

.ng-select.ng-select-single.ng-dirty.ng-valid .ng-select-container .ng-arrow-wrapper,
.ng-select.ng-select-single.ng-dirty.ng-invalid .ng-select-container .ng-arrow-wrapper {
    right: 20px;
}
/*#endregion*/

