<ng-template #addEditModal let-$modal>
    <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
        <div class="modal-header bg-custom-color">
            <h4 class="modal-title" *ngIf="isAddMode">Add category</h4>
            <h4 class="modal-title" *ngIf="!isAddMode">Edit category</h4>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" (click)="$modal.close()">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" style="min-height: 300px">
            <input type="text" class="form-control d-none" formControlName="id"/>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Parent category</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <ng-select
                                class="pb-0 mt-1"
                                formControlName="parentCategoryId"
                                [items]="categoriesPickList | async"
                                bindValue="id"
                                bindLabel="text"
                                autofocus
                            >
                            </ng-select>

                            <span *ngIf="(categoryForm.parentCategoryId.dirty || submitted) && categoryForm.parentCategoryId.invalid" class="text-danger">
                                <span *ngIf="categoryForm.parentCategoryId.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (categoryForm.parentCategoryId.dirty || submitted) && categoryForm.parentCategoryId.invalid, 'text-success': (categoryForm.parentCategoryId.dirty || submitted) && categoryForm.parentCategoryId.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (categoryForm.parentCategoryId.dirty || submitted) && categoryForm.parentCategoryId.invalid, 'icon-checkmark-circle': (categoryForm.parentCategoryId.dirty || submitted) && categoryForm.parentCategoryId.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Name</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control" formControlName="name"
                                   [ngClass]="{
                                       'border-success': (categoryForm.name.dirty || submitted) && categoryForm.name.valid,
                                       'border-danger': (categoryForm.name.dirty || submitted) && categoryForm.name.invalid
                                   }"/>

                            <span *ngIf="(categoryForm.name.dirty || submitted) && categoryForm.name.invalid" class="text-danger">
                                <span *ngIf="categoryForm.name.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (categoryForm.name.dirty || submitted) && categoryForm.name.invalid, 'text-success': (categoryForm.name.dirty || submitted) && categoryForm.name.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (categoryForm.name.dirty || submitted) && categoryForm.name.invalid, 'icon-checkmark-circle': (categoryForm.name.dirty || submitted) && categoryForm.name.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Add</button>
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="!isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Edit</button>
            <button type="button" class="btn btn-outline bg-custom-color text-custom-color border-custom-color border-2 legitRipple" (click)="$modal.close()">Close</button>
        </div>
    </form>
</ng-template>
