/*region Navbar*/
.nav-sidebar .nav-link i {
    margin-left: .75rem;
}

/*endregion*/

/*region Datatable*/
.dataTables_wrapper .datatable-header {
    /*padding-right: 0*/
}

.dataTables_wrapper .datatable-header .dt-buttons,
.dataTables_wrapper .datatable-header > button {
    float: right;
}

.dataTables_wrapper .datatable-header > button {
    margin-left: 15px;
}

.dataTables_wrapper .datatable-header .dataTables_filter {
    margin-right: 0;
}

/* Datatable menu actions */
.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) {
    right: 0 !important;
}

.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) .dt-button span i {
    margin-left: 10px;
}

.dataTables_wrapper .datatable-header .dt-buttons .dt-button-collection:not(.fixed) .dt-button.buttons-collection span i.last-child {
    margin-left: 0;
    float: left;
}

/* /datatable menu actions */

.dataTables_wrapper .datatable-scroll-wrap .dataTable thead th,
.dataTables_wrapper .datatable-scroll-wrap .dataTable tbody td,
.dataTables_wrapper .datatable-scroll-wrap .dataTable tfoot th {
    padding-left: 2.5rem;
}

/*endregion*/


/*region Modal*/
.modal.modal-right:not(.show) .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.modal .modal-dialog.modal-full-height {
    left: 0
}

/*endregion*/
