﻿.lh-12px {
    line-height: 12px !important;
}

.lh-13px {
    line-height: 13px !important;
}

.lh-14px {
    line-height: 14px !important;
}

.lh-15px {
    line-height: 15px !important;
}

.lh-16px {
    line-height: 16px !important;
}

.lh-17px {
    line-height: 17px !important;
}

.lh-20px {
    line-height: 20px !important;
}

.lh-21px {
    line-height: 21px !important;
}

.lh-22px {
    line-height: 22px !important;
}

.lh-23px {
    line-height: 23px !important;
}
.lh-24px {
    line-height: 24px !important;
}
.lh-25px {
    line-height: 25px !important;
}
.lh-26px {
    line-height: 26px !important;
}

.lh-40px {
    line-height: 40px !important;
}




