﻿
.w-13 {
    width: 13% !important;
}

.w-15 {
    width: 15% !important;
}

.w-20 {
    width: 20% !important;
}

.w-20px {
    width: 20px !important;
}

.w-25px {
    width: 25px !important;
}

.w-40px {
    width: 40px !important;
}

.w-300px {
    width: 300px !important;
}

.w-320px {
    width: 320px !important;
}
.w-337px {
    width: 337px !important;
}
