<ng-template #addEditModal let-$modal>
    <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
        <div class="modal-header bg-custom-color">
            <h4 class="modal-title" *ngIf="isAddMode">Add product</h4>
            <h4 class="modal-title" *ngIf="!isAddMode">Edit product</h4>
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true" (click)="$modal.close()">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" style="min-height: 300px">
            <input type="text" class="form-control d-none" formControlName="id"/>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Name</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control" formControlName="name"
                                   [ngClass]="{
                                       'border-success': (productForm.name.dirty || submitted) && productForm.name.valid,
                                       'border-danger': (productForm.name.dirty || submitted) && productForm.name.invalid
                                   }"/>

                            <span *ngIf="(productForm.name.dirty || submitted) && productForm.name.invalid" class="text-danger">
                                <span *ngIf="productForm.name.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.name.dirty || submitted) && productForm.name.invalid, 'text-success': (productForm.name.dirty || submitted) && productForm.name.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.name.dirty || submitted) && productForm.name.invalid, 'icon-checkmark-circle': (productForm.name.dirty || submitted) && productForm.name.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Category</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <ng-select
                                class="pb-0 mt-1"
                                formControlName="categoryId"
                                [items]="categoriesPickList | async"
                                bindValue="id"
                                bindLabel="text"
                                autofocus
                            >
                            </ng-select>

                            <span *ngIf="(productForm.categoryId.dirty || submitted) && productForm.categoryId.invalid" class="text-danger">
                                <span *ngIf="productForm.categoryId.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.categoryId.dirty || submitted) && productForm.categoryId.invalid, 'text-success': (productForm.categoryId.dirty || submitted) && productForm.categoryId.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.categoryId.dirty || submitted) && productForm.categoryId.invalid, 'icon-checkmark-circle': (productForm.categoryId.dirty || submitted) && productForm.categoryId.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Image</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right py-1">
                            <input type="file" class="" formControlName="image" accept="image/png, image/gif, image/jpeg, image/jpg"
                                   (change)="onFileChange($event)"
                                   [ngClass]="{
                                       'border-success': (productForm.image.dirty || submitted) && productForm.image.valid,
                                       'border-danger': (productForm.image.dirty || submitted) && productForm.image.invalid
                                   }"/>

                            <span *ngIf="(productForm.image.dirty || submitted) && productForm.image.invalid" class="text-danger">
                                <span *ngIf="productForm.image.errors.required">This field is required</span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Price</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control" formControlName="price"
                                   [ngClass]="{
                                       'border-success': (productForm.price.dirty || submitted) && productForm.price.valid,
                                       'border-danger': (productForm.price.dirty || submitted) && productForm.price.invalid
                                   }"/>

                            <span *ngIf="(productForm.price.dirty || submitted) && productForm.price.invalid" class="text-danger">
                                <span *ngIf="productForm.price.errors.required" class="d-inline-block">This field is required</span>
                                <span *ngIf="productForm.price.errors.pattern" class="d-inline-block">Please enter a valid number value</span>
                                <span *ngIf="productForm.price.errors.min" class="d-inline-block">Min allowed value is: {{productForm.price.errors.min.min}}</span>
                                <span *ngIf="productForm.price.errors.max" class="d-inline-block">Max allowed value is: {{productForm.price.errors.max.max}}</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.price.dirty || submitted) && productForm.price.invalid, 'text-success': (productForm.price.dirty || submitted) && productForm.price.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.price.dirty || submitted) && productForm.price.invalid, 'icon-checkmark-circle': (productForm.price.dirty || submitted) && productForm.price.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Dietary flag</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <ng-select
                                class="pb-0 mt-1"
                                formControlName="dietaryFlagId"
                                [items]="dietaryFlagsPickList | async"
                                bindValue="id"
                                bindLabel="text"
                                autofocus
                            >
                            </ng-select>

                            <span *ngIf="(productForm.dietaryFlagId.dirty || submitted) && productForm.dietaryFlagId.invalid" class="text-danger">
                                <span *ngIf="productForm.dietaryFlagId.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.dietaryFlagId.dirty || submitted) && productForm.dietaryFlagId.invalid, 'text-success': (productForm.dietaryFlagId.dirty || submitted) && productForm.dietaryFlagId.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.dietaryFlagId.dirty || submitted) && productForm.dietaryFlagId.invalid, 'icon-checkmark-circle': (productForm.dietaryFlagId.dirty || submitted) && productForm.dietaryFlagId.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Num of views</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <input type="text" class="form-control" formControlName="numOfViews"
                                   [ngClass]="{
                                       'border-success': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.valid,
                                       'border-danger': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.invalid
                                   }"/>

                            <span *ngIf="(productForm.numOfViews.dirty || submitted) && productForm.numOfViews.invalid" class="text-danger">
                                <span *ngIf="productForm.numOfViews.errors.required" class="d-inline-block">This field is required</span>
                                <span *ngIf="productForm.numOfViews.errors.pattern" class="d-inline-block">Please enter a valid number value</span>
                                <span *ngIf="productForm.numOfViews.errors.min" class="d-inline-block">Min allowed value is: {{productForm.numOfViews.errors.min.min}}</span>
                                <span *ngIf="productForm.numOfViews.errors.max" class="d-inline-block">Max allowed value is: {{productForm.numOfViews.errors.max.max}}</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.invalid, 'text-success': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.invalid, 'icon-checkmark-circle': (productForm.numOfViews.dirty || submitted) && productForm.numOfViews.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="form-group">
                        <label class="font-weight-semibold m-0">Description</label>
                        <span class="text-danger"> * </span>

                        <div class="form-group-feedback form-group-feedback-right">
                            <textarea type="text" class="form-control" formControlName="description"
                                      [ngClass]="{
                                       'border-success': (productForm.description.dirty || submitted) && productForm.description.valid,
                                       'border-danger': (productForm.description.dirty || submitted) && productForm.description.invalid
                                   }"></textarea>

                            <span *ngIf="(productForm.description.dirty || submitted) && productForm.description.invalid" class="text-danger">
                                <span *ngIf="productForm.description.errors.required">This field is required</span>
                            </span>
                            <div class="form-control-feedback"
                                 [ngClass]="{'text-danger': (productForm.description.dirty || submitted) && productForm.description.invalid, 'text-success': (productForm.description.dirty || submitted) && productForm.description.valid}">
                                <i [ngClass]="{'icon-cancel-circle2': (productForm.description.dirty || submitted) && productForm.description.invalid, 'icon-checkmark-circle': (productForm.description.dirty || submitted) && productForm.description.valid}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Add</button>
            <button type="submit" class="btn bg-custom-color legitRipple" [disabled]="loading" *ngIf="!isAddMode"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Edit</button>
            <button type="button" class="btn btn-outline bg-custom-color text-custom-color border-custom-color border-2 legitRipple" (click)="$modal.close()">Close</button>
        </div>
    </form>
</ng-template>
