<app-navbar-two></app-navbar-two>

<div class="content">
    <!-- Categories datatable -->
    <div class="card">
        <div class="card-header header-elements-inline bg-custom-color">
            <h2 class="card-title">Categories</h2>
        </div>
        <table class="table card-body w-100" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Parent category</th>
                <th>Actions</th>
            </tr>
            </thead>
        </table>
    </div>
    <!-- /categories datatable -->

    <!-- Bottom right menu -->
    <ul class="fab-menu fab-menu-fixed fab-menu-bottom-right" data-fab-toggle="click">
        <li>
            <button class="fab-menu-btn btn bg-custom-color btn-float rounded-round btn-icon cursor-pointer" [routerLink]="['/admin/categories/add']">
                <i class="fa fa-plus"></i>
            </button>
        </li>
    </ul>
    <!-- /bottom right menu -->
</div>

<!-- Using router outlet at the end of the template -->
<router-outlet></router-outlet>

