/* You can add global styles to this file, and also import other style files */
//@import "~@ng-select/ng-select/themes/default.theme.css";
// ... or
@import "~@ng-select/ng-select/themes/material.theme.css";

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');

@import 'icons/fontawesome/styles.min.css';
@import 'icons/icomoon/styles.min.css';
@import 'icons/material/styles.min.css';

@import '../../../assets/css/shared/font_sizes';
@import '../../../assets/css/shared/height_sizes';
@import '../../../assets/css/shared/line_height_sizes';
@import '../../../assets/css/shared/margin_top_sizes';
@import '../../../assets/css/shared/width_sizes';
@import '../../../assets/css/shared/border_radiuses';

html {
    &[dir="ltr"] {
        @import 'ltr/bootstrap.min';
        @import 'ltr/bootstrap_limitless.min';
        @import 'ltr/layout.min';
        @import 'ltr/components.min';
        @import 'ltr/colors.min';

        @import '../../../assets/css/shared/theme_override';
        @import '../../../assets/css/shared/ltr/theme_override';
        @import '../../../assets/css/shared/style';
        @import '../../../assets/css/shared/ltr/style';

        @import 'ltr/styles';
        @import 'ltr/responsive';
    }

    &[dir="rtl"] {
        @import 'rtl/bootstrap.min';
        @import 'rtl/bootstrap_limitless.min';
        @import 'rtl/layout.min';
        @import 'rtl/components.min';
        @import 'rtl/colors.min';

        @import '../../../assets/css/shared/font_sizes';
        @import '../../../assets/css/shared/height_sizes';
        @import '../../../assets/css/shared/line_height_sizes';
        @import '../../../assets/css/shared/margin_top_sizes';
        @import '../../../assets/css/shared/width_sizes';
        @import '../../../assets/css/shared/border_radiuses';

        @import '../../../assets/css/shared/theme_override';
        @import '../../../assets/css/shared/rtl/theme_override';
        @import '../../../assets/css/shared/style';
        @import '../../../assets/css/shared/rtl/style';

        @import 'rtl/styles';
        @import 'rtl/responsive';
    }
}
