<!-- Page content -->
<div class="page-content">
    <!-- Main content -->
    <div class="content-wrapper">
        <!-- Content area -->
        <div class="content d-flex justify-content-center align-items-center">
            <!-- Login form -->
            <div class="login-form">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="text-center mb-3">
                            <img class="rounded-circle" src="../../../../../assets/global/img/user.png" width="150" height="150" alt="">
                        </div>

                        <form [formGroup]="form" (ngSubmit)="this.onSubmit()">
                            <div class="form-group">
                                <label class="font-weight-semibold m-0" for="username">User name</label>
                                <span class="text-danger"> * </span>

                                <div class="form-group-feedback form-group-feedback-right">
                                    <input id="username" type="text" class="form-control" formControlName="username"
                                           [ngClass]="{
                                       'border-success': (loginForm.username.dirty || submitted) && loginForm.username.valid,
                                       'border-danger': (loginForm.username.dirty || submitted) && loginForm.username.invalid
                                   }"/>

                                    <span *ngIf="(loginForm.username.dirty || submitted) && loginForm.username.invalid" class="text-danger">
                                        <span *ngIf="loginForm.username.errors.required">This field is required</span>
                                    </span>
                                    <div class="form-control-feedback" [ngClass]="{'text-danger': (loginForm.username.dirty || submitted) && loginForm.username.invalid, 'text-success': (loginForm.username.dirty || submitted) && loginForm.username.valid}">
                                        <i class="icon-user" [ngClass]="{'text-muted': !loginForm.username.dirty && !submitted}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="font-weight-semibold m-0" for="password">Password</label>
                                <span class="text-danger"> * </span>

                                <div class="form-group-feedback form-group-feedback-right">
                                    <input id="password" type="password" class="form-control" formControlName="password"
                                           [ngClass]="{
                                       'border-success': (loginForm.password.dirty || submitted) && loginForm.password.valid,
                                       'border-danger': (loginForm.password.dirty || submitted) && loginForm.password.invalid
                                   }"/>

                                    <span *ngIf="(loginForm.password.dirty || submitted) && loginForm.password.invalid" class="text-danger">
                                        <span *ngIf="loginForm.password.errors.required">This field is required</span>
                                    </span>
                                    <div class="form-control-feedback" [ngClass]="{'text-danger': (loginForm.password.dirty || submitted) && loginForm.password.invalid, 'text-success': (loginForm.password.dirty || submitted) && loginForm.password.valid}">
                                        <i class="icon-lock2" [ngClass]="{'text-muted': !loginForm.password.dirty && !submitted}"></i>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mt-4 mb-0">
                                <button type="submit" class="btn bg-dark btn-block btn-submit" [disabled]="loading">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Sign in
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /login form -->
        </div>
        <!-- /content area -->
    </div>
    <!-- /main content -->
</div>
<!-- /page content -->

